* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    
}

.first-paragraph {
    font-family: Arial;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
    color: #2d2d2d;
    white-space: pre-line;  
    margin-bottom: 52px;
    padding-left: 78px;
    
}      

.header {
    padding-top: 100px ;
    font-family: Arial;
    font-size: 50px;
    line-height: 65px;
    font-weight: 700;
    color: #2d2d2d; 
}

.list {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #525252;
    padding-bottom: 47px;
    margin-left: 95px;
}

.shoes {
    width: 1095px;
    height: 560px;
    margin-left: 75px;
}

.baseparagraph {
    font-family: Arial;
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
    color: #2d2d2d;
    font-weight: 400;
    margin-left: 75px;
    white-space: pre-line;
    width: 1088px;
}

.shoe-accessories {
    width: 1095px;
    height: 560px;
    margin-left: 75px;
}

.secondparagraph {
    font-family: Arial;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
    color: #2d2d2d;
    margin-left: 76px;
    white-space: pre-line;
    padding-bottom: 86px;
    width: 1089px;
}
