@font-face {
    font-family: Lato;
    src: local('Lato'), local('Lato-Regular'), 
    url('../fonts/lato-regular.woff2') format(woff2),
        url('../fonts/lato-regular.woff') format(woff);
    font-weight: 400;
}

@font-face {
    font-family: Lato;
    src: local('Lato Bold'), local('Lato-Bold'), 
    url('../fonts/lato-bold.woff2') format(woff2),
        url('../fonts/lato-bold.woff') format(woff);
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    font-family: lato, Arial, 'sans-serif';
    font-size: 22px;
    color: #2d2d2d;
    line-height: 33px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #525252;
}

h1, h2, h3, p, ol{
    margin: 0;
}

.wrapper {
    padding: 100px 0 86px;
}

.title {
    line-height: 65px;
    font-size: 50px;
    margin-bottom: 58px;
    font-weight: 700;
    color: #2d2d2d;
}

.main-text:not(:last-child) {
    margin-bottom: 33px;    
}

.section:not(:last-child) {
    margin-bottom: 33px;
}

.subtitle {
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
}

.image {
    margin-bottom: 48px;
}

.list {
    padding: 17px 25px;
}

.nav {
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 33px;
    color: #525252;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 75px;
}

.min-container {
    max-width: 1095px;
}

.text {
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
}

.item {
    font-size: 22px;
    line-height: 33px;
    font-weight: bold;
}

.text:not(:last-child) {
    margin-bottom: 33px;
}