* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 22px;
    color: #2d2d2d;
    line-height: 33px;
}

a {
    text-decoration: none;
    color: #525252;
}

h1, h2, h3, p, ol{
    margin: 0;
}

.wrapper {
    padding: 100px 0 86px;
}

.title {
    font-size: 50px;
    margin-bottom: 58px;
    font-weight: 700;
    color: #2d2d2d;
}

.main-text:not(:last-child) {
    margin-bottom: 33px;    
}

.section:not(:last-child) {
    margin-bottom: 33px;
}

.subtitle {
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
    color: #2d2d2d;
}

.image {
    margin-bottom: 48px;
}

.list {
    margin-bottom: 50px;
}

.nav {
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 33px;
    color: #525252;
}

.container {
    max-width: 1770px;
    margin: 0 auto;
}

min-container {
    max-width: 1095px;
    
}

.text {
    max-width: 1090px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
    color: #2d2d2d;
    white-space: pre-line;
    padding-bottom: 33px;
}